# pandas - Parsing Timestamps

In [2]:
import pandas as pd

In [3]:
tags= pd.read_csv("ml-20m/tags.csv",sep=",")

In [4]:
type(tags)

pandas.core.frame.DataFrame

In [5]:
tags.dtypes

userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

you can see timestamp kieu int64

In [6]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

you can see here timestamp is exactly int64

# Convert to Coordinated Universal time (UTC)

In [20]:
tags["parsed_time"] = pd.to_datetime(tags["timestamp"],errors='raise',unit="s")

In [21]:
tags.head()

   userId  movieId            tag   timestamp         parsed_time
0      18     4141    Mark Waters  1240597180 2009-04-24 18:19:40
1      65      208      dark hero  1368150078 2013-05-10 01:41:18
2      65      353      dark hero  1368150079 2013-05-10 01:41:19
3      65      521  noir thriller  1368149983 2013-05-10 01:39:43
4      65      592      dark hero  1368150078 2013-05-10 01:41:18

In [25]:
tags["parsed_time"].dtype

dtype('<M8[ns]')

# Selecting rows based on timestamps

In [27]:
greater_than_t  = tags["parsed_time"] > '2015-02-01'

selected_rows=tags[greater_than_t]
tags.shape,selected_rows.shape

((465564, 5), (12130, 5))

# sorting the table using the timestamps

In [29]:
tags.sort_values(by='parsed_time', ascending=False)[:10]

,userId,movieId,tag,timestamp,parsed_time
339178,102853,115149,russian mafia,1427771352,2015-03-31 03:09:12
158780,46072,6058,premonition,1427760764,2015-03-31 00:12:44
158763,46072,3409,premonition,1427760726,2015-03-31 00:12:06
288375,87797,215,Vienna,1427755801,2015-03-30 22:50:01
290535,88044,106782,profanity,1427754096,2015-03-30 22:21:36
290527,88044,106782,crime,1427753921,2015-03-30 22:18:41
290526,88044,106782,Amoral,1427753913,2015-03-30 22:18:33
290531,88044,106782,Jonah Hill,1427753849,2015-03-30 22:17:29
290530,88044,106782,inaccurate,1427753806,2015-03-30 22:16:46
290528,88044,106782,Economically Illiterate Writers,1427753739,2015-03-30 22:15:39

# Average movie ratings over time

In [30]:
# Average Movie ratings related to the year of launch?

In [33]:
ratings= pd.read_csv("ml-20m/ratings.csv",sep=",")

In [55]:
movies.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [35]:
average_rating = ratings[['movieId','rating']].groupby('movieId',as_index=False)

In [52]:
movies['year']=movies['title'].str.extract(".*\((.*)\).*",expand=True)

In [ ]:
movies= pd.read_csv("ml-20m/movies.csv",sep=",",)

In [41]:
type(movies)

pandas.core.frame.DataFrame

In [42]:
type(average_rating)

pandas.core.groupby.DataFrameGroupBy

In [53]:
movie_rating = movies[['movieId','year']].groupby('movieId',as_index=False)

In [54]:
joined = movie_rating.merge(average_rating,on='movieId',how='inner')
joined.head()
joined.corr()

AttributeError: Cannot access callable attribute 'merge' of 'DataFrameGroupBy' objects, try using the 'apply' method