In [1]:
!ls

Icon  Introduction to Pandas.ipynb  ml-20m  movielens  Untitled.ipynb

In [2]:
!ls ./ml-20m

genome-scores.csv  links.csv   ratings.csv  tags.csv
genome-tags.csv    movies.csv  README.txt

# now we use "cat" comment to read all these text files

In [3]:
!cat ./ml-20m/movies.csv | wc -l

27279

In [4]:
!head -10 ./ml-20m/ratings.csv

# now we use Pandas to read csv file

In [5]:
import pandas as pd

In [6]:
movies= pd.read_csv("./ml-20m/movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
...,...,...,...
27248,131146,Werner - Volles Rooäää (1999),Animation|Comedy
27249,131148,What A Man (2011),Comedy|Romance
27250,131150,7 Dwarves: The Forest Is Not Enough (2006),Comedy
27251,131152,The Fat Spy (1966),Comedy
27252,131154,"Die Bademeister – Weiber, saufen, Leben retten...",Comedy
27253,131156,Ants in the Pants 2 (2002),Comedy
27254,131158,"Manta, Manta (1991)",Comedy
27255,131160,Oscar and the Lady in Pink (2009),Drama
27256,131162,Por un puñado de besos (2014),Drama|Romance
27257,131164,Vietnam in HD (2011),War
27258,131166,WWII IN HD (2009),(no genres listed)
27259,131168,Phoenix (2014),Drama
27260,131170,Parallels (2015),Sci-Fi
27261,131172,Closed Curtain (2013),(no genres listed)
27262,131174,Gentlemen (2014),Drama|Romance|Thriller
27263,131176,A Second Chance (2014),Drama
27264,131180,Dead Rising: Watchtower (2015),Action|Horror|Thriller
27265,131231,Standby (2014),Comedy|Romance
27266,131237,What Men Talk About (2010),Comedy
27267,131239,Three Quarter Moon (2011),Comedy|Drama
27268,131241,Ants in the Pants (2000),Comedy|Romance
27269,131243,Werner - Gekotzt wird später (2003),Animation|Comedy
27270,131248,Brother Bear 2 (2006),Adventure|Animation|Children|Comedy|Fantasy
27271,131250,No More School (2000),Comedy
27272,131252,Forklift Driver Klaus: The First Day on the Jo...,Comedy|Horror
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [7]:
movies= pd.read_csv("./ml-20m/movies.csv",sep=",")
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [8]:
tags= pd.read_csv("./ml-20m/tags.csv",sep=",")
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [10]:
ratings= pd.read_csv("./ml-20m/ratings.csv",sep=",")
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

# Data Structures

Series

In [18]:
#extract 0th row: notice that it is infact a Series
row_0=tags.iloc[0] #lay gia tri hang dau tien cua Dataset Tags
type(row_0)

pandas.core.series.Series

In [19]:
row_0

userId                18
movieId             4141
tag          Mark Waters
timestamp     1240597180
Name: 0, dtype: object

In [20]:
row_0.index

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [21]:
row_0["userId"]

18

In [22]:
row_0.name

0

In [23]:
'rating' in row_0

False

In [24]:
row_0.name

0

# DAta Frame

In [26]:
tags.head()

   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078

In [27]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [30]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [31]:
# extract row 0, 11, 2000 from Dataframe
tags.iloc[[0,11,2000]]

      userId  movieId                tag   timestamp
0         18     4141        Mark Waters  1240597180
11        65     1783      noir thriller  1368149983
2000     910    68554  conspiracy theory  1368043943