In [1]:
#Your pandas questions answered

In [2]:
import pandas as pd

In [3]:
#Question number 1
#Reading from csv file only two columns

In [4]:
ufo=pd.read_csv('ufo.csv')

In [5]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [6]:
ufo=pd.read_csv('ufo.csv',usecols=['City','Shape Reported']) #by Name signs

In [7]:
ufo.columns

Index(['City', 'Shape Reported'], dtype='object')

In [8]:
ufo=pd.read_csv('ufo.csv',usecols=[0,2]) #by column's number sign

In [9]:
ufo.columns

Index(['City', 'Shape Reported'], dtype='object')

In [10]:
#Question number 2
#**Question:** How do I iterate through a Series?

In [19]:
ufo=pd.read_csv('ufo.csv',nrows=4)  #read csv with row number

In [20]:
ufo

          City  Colors Reported Shape Reported State             Time
0       Ithaca              NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro              NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke              NaN           OVAL    CO  2/15/1931 14:00
3      Abilene              NaN           DISK    KS   6/1/1931 13:00

In [21]:
#how do DataFrame and Series work with regard to selecting individual iteration (for X in userdata)

In [27]:
for index,row in ufo.iterrows():
    print (index,row.City, row.State)

0 Ithaca NY
1 Willingboro NJ
2 Holyoke CO
3 Abilene KS

In [26]:
#**Question:** How do I drop all non-numeric columns from a DataFrame?

In [28]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 372F-3690

 Directory of C:\Users\USER\Documents\Python_pandas

08/03/2017  10:22 AM    <DIR>          .
08/03/2017  10:22 AM    <DIR>          ..
08/02/2017  10:50 AM    <DIR>          .ipynb_checkpoints
08/23/2016  08:59 AM           364,975 chipotle.tsv
08/23/2016  08:59 AM             5,918 drinks.csv
07/30/2017  10:49 PM            85,442 How do I apply multiple filter criteria to a pandas DataFrame.ipynb
07/30/2017  10:21 PM            67,071 How do I filter rows of a pandas DataFrame by column value.ipynb
07/29/2017  10:04 PM            13,448 How do I read a tabular data file into pandas.ipynb
07/29/2017  11:34 PM            70,150 How do I remove columns from a pandas DataFrame.ipynb
07/29/2017  11:21 PM            72,690 How do I rename columns in a pandas DataFrame.ipynb
07/29/2017  11:07 PM            32,509 How do i select pandas Series from a DataFrame.ipynb
07/30/2017  12:01 AM            44,309 How do I sort a pandas DataFrame or a Series.ipynb
08/23/2016  08:59 AM            91,499 imdb_1000.csv
08/03/2017  10:22 AM           735,543 pandas.ipynb
07/29/2017  09:46 PM           417,120 pandas-videos-master.zip
08/23/2016  08:59 AM            28,210 titanic_test.csv
08/23/2016  08:59 AM            60,302 titanic_train.csv
08/23/2016  08:59 AM            22,628 u.user
08/23/2016  08:59 AM           668,882 ufo.csv
08/02/2017  10:52 AM               581 Untitled.ipynb
08/03/2017  10:21 AM             6,238 Your pandas questions answered.ipynb
              18 File(s)      2,787,515 bytes
               3 Dir(s)  31,060,742,144 bytes free

In [31]:
drinks=pd.read_csv('drinks.csv')

In [34]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [35]:
import numpy as np

In [41]:
drinks.select_dtypes(include=[np.number]).dtypes

beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
dtype: object

In [42]:
drinks.select_dtypes(include=[np.number]) #you can see this way is such a convenience and fast!

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,0,0,0,0.0
1,89,132,54,4.9
2,25,0,14,0.7
3,245,138,312,12.4
4,217,57,45,5.9
5,102,128,45,4.9
6,193,25,221,8.3
7,21,179,11,3.8
8,261,72,212,10.4
9,279,75,191,9.7
10,21,46,5,1.3
11,122,176,51,6.3
12,42,63,7,2.0
13,0,0,0,0.0
14,143,173,36,6.3
15,142,373,42,14.4
16,295,84,212,10.5
17,263,114,8,6.8
18,34,4,13,1.1
19,23,0,0,0.4
20,167,41,8,3.8
21,76,173,8,4.6
22,173,35,35,5.4
23,245,145,16,7.2
24,31,2,1,0.6
25,231,252,94,10.3
26,25,7,7,4.3
27,88,0,0,6.3
28,37,1,7,4.0
29,144,56,16,4.0
...,...,...,...,...
163,128,178,7,5.6
164,90,2,2,4.7
165,152,60,186,7.2
166,185,100,280,10.2
167,5,35,16,1.0
168,2,15,0,0.3
169,99,258,1,6.4
170,106,27,86,3.9
171,1,1,4,0.1
172,36,2,19,1.3
173,36,21,5,1.1
174,197,156,7,6.4
175,51,3,20,1.3
176,51,22,7,1.4
177,19,71,32,2.2
178,6,41,9,1.0
179,45,9,0,8.3
180,206,237,45,8.9
181,16,135,5,2.8
182,219,126,195,10.4
183,36,6,1,5.7
184,249,158,84,8.7
185,115,35,220,6.6
186,25,101,8,2.4
187,21,18,11,0.9
188,333,100,3,7.7
189,111,2,1,2.0
190,6,0,0,0.1
191,32,19,4,2.5
192,64,18,4,4.7

In [43]:
#when we gotta use [] brackets?

In [45]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [47]:
drinks.describe(include='all')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,193,193.000000,193.000000,193.000000,193.000000,193
unique,193,NaN,NaN,NaN,NaN,6
top,Trinidad & Tobago,NaN,NaN,NaN,NaN,Africa
freq,1,NaN,NaN,NaN,NaN,53
mean,NaN,106.160622,80.994819,49.450777,4.717098,NaN
std,NaN,101.143103,88.284312,79.697598,3.773298,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,20.000000,4.000000,1.000000,1.300000,NaN
50%,NaN,76.000000,56.000000,8.000000,4.200000,NaN
75%,NaN,188.000000,128.000000,59.000000,7.200000,NaN
max,NaN,376.000000,438.000000,370.000000,14.400000,NaN

In [50]:
drinks.describe(include=None)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [68]:
drinks.describe(include=['object','int64']) #describe theo kiểu dữ liệu

,country,beer_servings,spirit_servings,wine_servings,continent
count,193,193.000000,193.000000,193.000000,193
unique,193,NaN,NaN,NaN,6
top,Trinidad & Tobago,NaN,NaN,NaN,Africa
freq,1,NaN,NaN,NaN,53
mean,NaN,106.160622,80.994819,49.450777,NaN
std,NaN,101.143103,88.284312,79.697598,NaN
min,NaN,0.000000,0.000000,0.000000,NaN
25%,NaN,20.000000,4.000000,1.000000,NaN
50%,NaN,76.000000,56.000000,8.000000,NaN
75%,NaN,188.000000,128.000000,59.000000,NaN
max,NaN,376.000000,438.000000,370.000000,NaN

In [61]:
# drinks.describe()
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [65]:
#count: Số thể hiện (all đề có 193 dòng)
#   mean: giá trị trung bình
#   std: độ lệch chuẩn 
#   min (max): giá trị nhỏ (lớn) nhất
#  25%, 50%, và 75%: trả ra giá trị xếp thứ 25, 50 (median) và 75 trong dữ liệu (khi được sắp xếp)

In [70]:
drinks['beer_servings'].describe() #describe theo một features(đặc tính)

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

In [74]:
drinks['beer_servings'].var() #tìm duy nhất phương sai theo feature (đặc tính)

10229.927191278055

In [76]:
drinks.corr(method='pearson', min_periods=1)
#-          Hệ số tương quan pearson trong khoảng [-1,1]. Có một vài chú ý:
#-          Khi 2 cột có tương quan càng mạnh thì hệ số tương quan càng lớn, và ngược lại. 
#-          Nếu hệ số bằng 0: không có sự tương quan nào giữa 2 đặc tính. 
#-          Hệ số tương quan của một cột với chính nó luôn là 1.

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
beer_servings,1.000000,0.458819,0.527172,0.835839
spirit_servings,0.458819,1.000000,0.194797,0.654968
wine_servings,0.527172,0.194797,1.000000,0.667598
total_litres_of_pure_alcohol,0.835839,0.654968,0.667598,1.000000

In [81]:
#Chúng ta đã có thể biết những thông tin tổng quan vô cùng quan trong về dữ liệu chúng ta sẽ sử dụng: kích thước, những hàng đầu – cuối của dữ liệu, những thống kê về các đặc tính (cột). 
#Điều này giúp người làm Máy học có thể điều chỉnh cách xử lý dữ liệu sao cho tăng tính hiệu quả cho thuật toán dùng sau này.
#·         Nhờ có hệ số tương quan pearson, người học cũng có thể biết được tương quan từng cặp các đặc tính với nhau. Trong các thuật toán Máy học, nếu các đặc tính có sự tương quan lớn, thì thuật toán sẽ không còn đạt hiệu quả nữa (ví dụ: linear regression và logistic regression, chúng ta sẽ nói về chúng ở những bài học sau)
#·         Việc tìm hiểu những thông tin dữ liệu là việc làm không thể bỏ qua trước khi chúng ta có những bước làm tiếp theo. Như chúng ta thấy, Python đã hỗ trợ sẵn và hiệu quả để chúng ta có thể làm được điều này.